.navbar {
    height: 4rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
h1 {
    color: white;
    font-size: 3rem;
    padding-left: 1rem;
}


/* .search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.search button {
    padding: 8px;
    background-color: #f44336;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
} */
