.navbar {
    height: 4rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
h1{
    color: white;
    font-size: 3rem;
    padding-left: 1rem;
}